/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

body, html {
    height: 100%;
    width: 100%;
}
  

#sidebar {
    height: 100%;
    min-width: 250px;
    max-width: 250px;
    background: #FBB02D;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #FBB02D;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar2 {
    display: block;
    height: 100%;
    min-width: 400px;
    max-width: 400px;
    background: #FBB02D;
    color: #fff;
    transition: all 0.3s;
}

#sidebar2.active {
    margin-left: -250px;
}

#sidebar2 .sidebar2-header {
    padding: 20px;
    background: #FBB02D;
}

#sidebar2 ul.components {
    padding: 20px 0;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

.container {
    display: block;
    position: relative;
    padding-left: 85px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
  /* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
  /* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}
  
  /* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: lightgray;
}
  
  /* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}
  
  /* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
  /* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}
  
  /* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.menuimg {
    width: 170px;
    height: 90px;
    margin: 0 auto;
    margin-bottom: 30px;
    /* -webkit-border-radius: 50%; */
    /* -moz-border-radius: 50%; */
    /* -ms-border-radius: 50%; */
    /* border-radius: 50%; */
    /* border: 3px solid white; */
}

.btn-info {
    /* border-radius: 0px; */
    border-color: #FBB02D;
    background-color: #FBB02D;
}

.btn-info:hover {
    border-color: #FBB02D;
    background-color: #FBB02D;
}

.btn-info:active {
    color: #FBB02D;
    border-color: #FBB02D;
    background-color: #FBB02D;
}

.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show>.btn-info.dropdown-toggle {
    color: #FBB02D;
    border-color: #FBB02D;
    background-color: #FBB02D;
}

.card {
    cursor: pointer;
    width: 350px;
    height: 200px;
    margin: 10px 10px;
}

.card-header {
    height: 40px;
}
  
input[type='checkbox'] {
    display: none;
}

.card-container {
    display: grid;
    perspective: 700px;
}

.card-flip {
    display: grid;
    grid-template: 1fr / 1fr;
    grid-template-areas: "frontAndBack";
    transform-style: preserve-3d;
    transition: all 0.7s ease;
}

.card-flip div {
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.front {
    grid-area: frontAndBack;
}

.back {
    grid-area: frontAndBack;
    transform: rotateY(-180deg);
}

input[type='checkbox']:checked + .card-container .card-flip {
    transform: rotateY(180deg);
}

.scrollabley {
    max-height: 790px;
    overflow-y: scroll;
}

.weathercard {
    width: 250px;
    height: 100px;
}